# nand2tetris .gitignore
*.tst
*.cmp
*.out
nand2tetris/projects/05/*.hack
nand2tetris/projects/06/*_pycache_*
nand2tetris/projects/06/tests/add/add.hack
nand2tetris/projects/06/tests/max/max.hack
nand2tetris/projects/06/tests/max/maxl.hack
nand2tetris/projects/06/tests/rect/rect.hack
nand2tetris/projects/06/tests/rect/rectl.hack
nand2tetris/projects/06/tests/pong/pong.hack
nand2tetris/projects/06/tests/pong/pongl.hack
# tiny-experiments/CGAlgorithms/
tiny-experiments/CGAlgorithms/build
tiny-experiments/Bezier/build
web-trials/simple-client-server-with-compression/WeatherForecastsApi/bin/*
web-trials/simple-client-server-with-compression/WeatherForecastsApi/obj/*
web-trials/simple-client-server-with-compression/WeatherForecastsClient/bin/*
web-trials/simple-client-server-with-compression/WeatherForecastsClient/obj/*
#ai
#ai/collect_data_google_custom_search_api
ai/collect_data_google_custom_search_api/.env
ai/collect_data_google_custom_search_api/.vscode
ai/collect_data_google_custom_search_api/venv/*
ai/collect_data_google_custom_search_api/categories/*
#ai/collect_data_scraping_with_beautifulsoup
ai/collect_data_scraping_with_beautifulsoup/.vscode
ai/collect_data_scraping_with_beautifulsoup/venv/*
ai/collect_data_scraping_with_beautifulsoup/categories/*
#ai/kNN
ai/kNN/venv/*
ai/kNN/__pycache__/*
ai/kNN/utils/__pycache__/*
ai/kNN/data/*